body{ font-family: 'Roboto', sans-serif;
        margin: 0;

}
.orange{ font-size:25px ;
        color: orangered;


}

.flexible-container{
        display: flex;
        margin-bottom: 80px;
}
.half-width{ width:80%;
         padding: 2%;
         
         

}
.half-width img{ width: 50%;

}
.link-button{ text-decoration: none;
        background-color: orangered;
                background-image: linear-gradient(orange,tomato);
                padding: 10px 40px;
                border-radius: 5px;
                color: white;
                font-weight: 700;
                background-color: tomato;


}

.top-banner{ background-image: url(image/top-banner.png);
                background-repeat: no-repeat;


}

.dream-big{ background-image: url(image/dream-bg.png);
                background-repeat: no-repeat;
                background-position: right;

}

.experience-area{ 
                        background-image:url(image/exp-bg.png);
                        background-repeat: no-repeat;
                        background-position: left;
                

}

.experience-item{ box-shadow: 10px 10px 30px gray;
                        width: 40%;
                        margin-left: 5%;
                        margin-right: 5%;
                        padding-left: 10px;
                        border-radius: 10px;
                        border-left: 5px solid black;

                }

.h3{ color: orangered;
        font-size: 15px;

}

#web-dev{border-image: linear-gradient(blue, cyan);
        border-image-slice: 1;
        border-left: 5px solid ;
}

#full-stack{ border-image: linear-gradient(salmon, tomato);
        border-image-slice: 1;
        border-left: 5px solid ;


}
footer p{ text-align: center;

}

 
